.btn{
    font-family: var(--quicksandFont);
    font-weight: 700;
    font-size: 1em;
}
.small{
    padding: 0.25rem;
    border-radius: 0.5rem;
    font-size: 0.75rem;
}
.medium{
    padding: 0.5rem;
    border-radius: 1rem;
    font-size: 1rem;
}
.large{
    padding: 0.75rem;
    border-radius: 1.5rem;
    font-size: 1.5rem;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
}

    .filled.primary{
        background-color: var(--yellow);
        color: var(--blue);
    }
    .filled.primary:hover{
        background-color: var(--darkYellow);
    }

    .filled.secondary{
        background-color: var(--blue);
        color: white;
    }
    .filled.secondary:hover{
        background-color: var(--darkBlue);
    }

    .filled.destructive{
        background-color: var(--darkRed);
        color: white;
    }
    .filled.destructive:hover{
        background-color: var(--red);
    }

.outline{
    background-color: transparent;
    border: 2px solid;
}

    .outline.primary{
        color: var(--blue);
        border-color: var(--yellow);
    }
    .outline.primary:hover{
        background-color: var(--lightYellow);
    }

    .outline.secondary{
        color: var(--blue);
        border-color: var(--blue);
    }
    .outline.secondary:hover{
        background-color: var(--lightBlue);
        color: white;
    }

    .outline.destructive{
        color: var(--darkRed);
        border-color: var(--darkRed);
    }
    .outline.destructive:hover{
        background-color: var(--lightRed);
    }

/* Ghost */
/*TODO Define Button Ghost styling*/
