.btn{
    border-radius: 10px;
    padding: 0.75em;
    font-family: var(--quicksandFont);
}

.btnPrimary {
    background-color: var(--blue);
}

.btnSecondary {
    background-color: var(--yellow);
}