.container{
    border-bottom: 2px solid var(--blue);
    color: black;
    height: 5rem;
    padding: 0.5em;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
    position: relative;
}

.container > *{
    display: flex;
    list-style: none;
    gap: 1.5rem;
    align-items: end;
    padding-left: 1rem;
    padding-right: 1rem;
}

.list > *{
    padding-left: 0.75em;
    padding-right: 0.75em;
    padding-bottom: 0.75em;
}

.linkItem.active{
    color: var(--blue);
    border-bottom: 3px solid var(--blue);
    text-decoration: none;
}

.linkItem:hover{
    border-bottom: 3px solid var(--darkBlue);
    text-decoration: none;
} 

.menuIcon{
    display: none;
    color: var(--blue);
    font-size: 30px;
    align-self: flex-end;
    background-color: transparent;
}

.menuIcon:hover{
    color: var(--lightBlue);
}

.collapsedMenu{
    display: none;
}

.closeIcon{
    position: absolute;
    top:0;
    right: 0;
    padding: 1em;
    border-left: 1px solid var(--blue);
    border-bottom: 1px solid var(--blue);
    background-color: transparent;
}

.closeIcon:hover{
    background-color: var(--blue);
    color: white;
}

.hidden{
    display: none;
}

/*Logo*/
.logo{
    flex-direction: column;
    gap: 0;
    justify-content: end;
}
.logo img{
    width: 2rem;
    height: 2rem;
    background-color: aqua;
    margin: 0 auto;
}

.logo h1{
    font-size: 18px;
}


@media screen and (max-width: 900px) {
    .collapsedMenu{
        display: block;
        position: absolute;
        top:0;
        right: 0;
        padding: 1em;
        width: 50vw;
        min-width: 200px;
        background-color: var(--lightYellow);
        border: 2px solid var(--blue);
    }
    .collapsedMenu .list > *{
        display: block;
        padding: 0.25em;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    .linkItem{
        text-decoration: none;
    }
    .linkItem:hover{
        background-color: var(--blue);
        color: white;
        border: 0;
    }

    .menuIcon{
        display: block;
    }
    .hidden{
        display: none;
    }
}
