.dropdownContainer{
    display: flex;
    padding-bottom: 1em;
}

.dropdown{
    font-family: var(--quicksandFont);
    display: block;
}

.dropdownBtn{
    font-family: var(--quicksandFont);
    padding: 0.75em;
    border-radius: 10px;
}

.dropdownMenuContainer{
    position: relative;
}

.dropdownMenu{
    background-color: var(--blue);
    position: absolute;
    padding: 1em;
    margin-top: 0.5em;
    border-radius: 10px;
}

.alignLeft{
    left: 0.25em;
}

.alignRight{
    right: 0.25em;
}

.alignCenter{
    left: 50%;
    transform: translate(-50%, 0);
    width: max-content;
}

.dropdownItem{
    display: block;
    list-style: none;
    text-align: center;
    padding: 0.25em;
    color: white;
    text-decoration: none;
    border-radius: 0.5rem;
}
.dropdownItem:hover {
    background-color: var(--darkBlue);
}