@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Quicksand:wght@400;600;700&display=swap');

:root{
    --blue: #83A2FF;
    --lightBlue: #B4BDFF;
    --lightYellow: #FFE3BB;
    --yellow: #FFD28F;
    --grey: #F4F0F1;
    --red: #FA7070;
    --darkRed: #CE5A67;
    --quicksandFont: 'Quicksand', sans-serif;
    --dmSerifDisplayFont: 'DM Serif Display', serif;
}

html{
    font-family: var(--quicksandFont);
    background-color: var(--grey);
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--dmSerifDisplayFont);
}

a{
    color: black;
    text-decoration: underline;
}

a:hover{
    
    color: var(--blue)
}

/* General */
.section-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 50px);
}

/* Gallery */
.gallery-container{
    border: 2px solid var(--blue);
    border-left: 0;
    border-right: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2px;
    background-color: var(--blue);
}

/* Home Cards */
.home-section{
    padding-top: 3em;
    max-width: 1500px;
    margin: 0 auto;
}
.home-section > :first-child{
    width: 100%;
}

.home-section header{
    padding-left: 5em;
    padding-bottom: 3em;
}
.home-title{
    width: fit-content;
    margin-bottom: 1em;
    background-color: var(--blue);
    color: var(--lightYellow);
    font-size: 3.5rem;
    padding: 0.15em;
}
.home-subtitle{
    font-family: var(--quicksandFont);
    margin-top: -2em;
    text-decoration: underline;
    font-weight: 400;
}
.homesection-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    
    margin: auto;
    background-color: var(--blue);
    gap: 2px;
    border: var(--blue) 2px solid;
}

.home-card{
    aspect-ratio: 16 / 9;
    min-width: 100px;
    min-height: 100px;
    background-size: cover;
    width: 100%;
    background-size: cover;
    background-position: center;
    padding-left: 1.5em;
    padding-top: 1.5em;
    transition-delay: 1s;
}

/* Footer */

footer{
    background-color: var(--blue);
    position: fixed;
    bottom: 0;
    min-height: 30px;
    padding: 0.25em;
    display: flex;
    gap: 1em;
    color: white;
    font-weight: 700;
    width: 100%;
}

/*Stitch Detail Section*/
.fit-picture{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-color: bisque;
    background-position: center;
}

.btn-secondary{
    display: block;
}
/* Buttons */
.btn-primary, .btn-secondary{
    border-radius: calc(52px * 0.5);
    display: inline-block;
    padding: 1em;
    border: 0;
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    font-family: var(--quicksandFont);
}

.btn-primary{
    background-color: var(--yellow);
    color: var(--blue);
    min-width: 100px;
    transition-duration: 0.5s;
}   
    .btn-primary:hover{
        transition-duration: 0.5s;
        min-width: 150px;
    }

    .btn-primary:hover::after{
        content: ' --->';
    }

.btn-secondary{
    background-color: var(--blue);
    min-width: 75px;
}
.btn-secondary:hover{
    transition-duration: 0.5s;
    min-width: 150px;
}

.btn-secondary:hover::after{
    
    content: ' -->';
}

/* Detail Page */
.detail-section{
    min-height: calc(100vh - 100px);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.detail-content{
    padding: 2em;
}
.detail-content .subtitle{
    margin-top: 1em;
}
.tags{
    display: flex;
    gap: 0.5em;
}
.tags li{
    list-style: none;
}
.stitch-tag{
    border: 2px solid var(--blue);
}
.stitch-tag > div{
    display: flex;
    align-items: center;
}
.stitch-tag img{
    width: 50px;
    border-right: 2px solid var(--blue) ;
}
.stitch-tag p{
    padding: 0.5em;
}
.diagram{
    width: 100%;
    max-width: 1000px;
}


/* Contact Page */
.contact-section{
    min-height: calc(100vh - 100px);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 3em;
    max-width: 1200px;
    margin: 0 auto;
}
.contact-card{
    border: 2px solid var(--blue);
    min-height: 100px;
    height: 70vh;
    max-height: 450px;
    display: flex;
    flex-direction: column;
}
.contact-card.middle{
    border-left: 0;
    border-right: 0;
}

    /* Contact Cards */
    .contact-card > header{
        border-bottom: 2px solid var(--blue);
        padding: 0.5em;
        text-align: center;
        width: 100%;
        height: 3.5em;
    }
    .contact-card-content{
        padding: 1em;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }
    .contact-card-paragraph{
        height: fit-content;
        min-height: 50px;
    }
    .contact-card-cta{
        display: flex;
        flex-grow: 1;
        justify-content: center;
        align-items: center;
    }

/* Media queries */
@media screen and (max-width: 900px) {

.detail-section{
    grid-template-columns: 1fr;
}
.detail-section > :nth-child(1) {
    min-height: 150px;
}

.contact-section{
    grid-template-columns: 1fr;
    max-width: 600px;
}
.contact-card{
    height: 30vh;
    min-height: 100px;
}
.contact-card.middle{
    border-left: 2px solid var(--blue);
    border-right: 2px solid var(--blue);
    border-top: 0;
    border-bottom: 0;
}


    
}
    
