*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

/* Search Bar */
.searchBar-container{
    padding: 0.5rem;
}
.searchBar-bar{
    color: white;
    background-color: tomato;
    border-radius: 1rem;
    padding: 0.5em;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.5em;
}
.searchBar-container input{
    color: white;
    width: calc(100% - 2rem);
    border-radius: 1rem;
    font-size: 1.5rem;
    background-color: transparent;
}
.searchBar-container > input::placeholder{
    opacity: 0.7;
}
#search-label{
    display: none;
}

/* Nav Bar */
.navbar-container{
    border: 1px solid tomato;
    color: black;
    height: 3rem;
    display: flex;
    justify-content: space-between;
}
.navbar-list{
    display: flex;
    list-style: none;
    gap: 1rem;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

/* Gallery */
.gallery-container{
    padding: 0.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 0.5rem;
}
.stitch-swatch {
    width: 100%;
    aspect-ratio: 1 / 1;
    background-size: cover;
    border: 1px dashed tomato;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    align-items: end;
    justify-content: center;
    color: white;
}

    .swatch-details{
        width: 100%;
        min-height: 1rem;
        text-align: center;
        background-color: rgba(206, 105, 105, 0.4);
        transition-duration: 1s;
    }

    .swatch-details.back{
        width: 100%;
        min-height: 100%;
        text-align: center;
        transition-duration: 1s;
        display: flex;
        align-items: center;
        justify-content: center;
    }

