/* Detail Page */
.detail-section{
    min-height: calc(100vh - 110px);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.detail-content{
    background-color: var(--blue);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    height: fit-content;
    min-height: calc(100vh - 110px);
    gap: 2px;
}

.detail-content .header {
    padding-top: 1.5em;
    grid-column: span 12;
}

.detail-content > *{
    padding: 1em;
    background-color: var(--grey);
}

.detail-content .subtitle{
    font-family: var(--quickSandFont);
    font-size: 1.15em;
    font-weight: bold;
    grid-column: span 3;
}

.detail-content .area{
    grid-column: span 9;
}

/* Stitch */
.stitch-tag{
    display: flex;
    align-items: center;
}
.rounded-icon{
    background-color: var(--blue);
    width: 3em;
    height: 3em;
    border-radius: 1.5em;
}
.stitch-tag > div{
    display: flex;
    align-items: center;
}
.stitch-tag img{
    width: 100%;
    height: auto;
    padding: 0.25em;
}
.stitch-tag p{
    padding: 0.5em;
}
.diagram{
    width: 100%;
    height: auto;
    max-width: 1000px;
}

/* Pattern */
.pattern-tag{
    padding: 0 !important;
    display: flex;
}
.pattern-tag :first-child{
    border-right: 2px solid var(--blue);
    height: 100%;
}
.pattern-tag > *{
    padding: 0.25em;
}

.pattern-materials-area{
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
    background-color: var(--blue);
    gap: 2px;
}
    .pattern-materials-area > .cell {
        background-color: var(--grey);
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cell > *{
        padding: 0.5em;
    }

    .pattern-materials-area :last-child{
        border: 0;
    }